<ul class="list-group list-group-flush nav flex-column navbar-dark vh-100" id="sidebarProfile">
	<li class="nav-item m-2">
		<a class="navbar-brand mb-0 h1" href="{{ path('app_profile') }}">
			<i class="fas fa-tasks"></i>
			Dashboard</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active text-secondary" aria-current="page" href="{{ path('app_my_events') }}">My Events</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-secondary" href="{{ path('app_scheduled_events') }}">Scheduled Events</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-secondary" href="{{ path('app_scheduling_links') }}">Scheduling Links</a>
	</li>
	{# <li class="nav-item">
		<a class="nav-link text-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	</li> #}
</ul>
