{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {{ parent() }}

    <h1>Thanks for your attempted Booking!</h1>
    <p>
        We would appreciate your interest!
        But your payment failed! :(
        <a href="mailto:failure@example.com">failure@example.com</a>.
    </p>
</div>
<div>
    
</div>
{% endblock %}
